@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.section {
  height: 100vh;
  max-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0;
}

#headline-section {}

#headline-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 6vh;
  text-align: center;

  /* color: #FFFFFF;
  border: 2px solid #000000; */

  color: #000000;
  -webkit-text-fill-color: #FFFFFF;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;

  min-height: 60%;
  padding: 0 10% 5% 10%;
}

#headline-text>span {
  -webkit-text-fill-color: #000000;
}

.next-triangle-button {
  width: 0;
  height: 0;
  border-left: 2vh solid transparent;
  border-right: 2vh solid transparent;

  border-top: 3vh solid #BCFF2F;
}

.next-triangle-button.down {
  transform: rotate(-180deg);
}

#side-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#side-menu-button {
  background-color: #FFFFFF;
  padding: 3.5vh 3vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

#side-menu-contents {
  height: 100vh;
  width: 100vw;
  background-color: #00000099;
  margin: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  opacity: 0;

  display: flex;
  justify-content: flex-end;
}

#white-container {
  height: 100%;
  background-color: #FFFFFF;
  width: 50vw;
  position: relative;
  right:0;

  padding-left: 5%;

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}

#white-container > * {
  margin-bottom: 10vh;
}

#museum-links {
  height: 30vh;
}

.museum-link {
  height: 33%;
  font-size: 4vw;
  margin-bottom: 2vh;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.museum-link:hover {
  color: #BCFF2F;
  cursor: pointer;
}

#misc-links {
  margin-bottom: 0!important;
}

.misc-link {
  height: 50%;
  width: fit-content;
  font-size: 2.5vw;
  margin-bottom: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}

.misc-link:hover {
  border-bottom: #000000 solid 1px;
  cursor: pointer;
}